<div class="container">
    <div class="row">
      <!-- Left side: User list -->
      <div class="">
        <h3>Submitted Users</h3>
        <div *ngFor="let user of userNames" class="card mb-3 border border-1 w-20 bg-slate-400 cursor-pointer" (click)="onSelectUser(user)">
          <div class="card-body">
            <h5 class="card-title">{{ user }}</h5>
          </div>
        </div>
      </div>
      
      <!-- Right side: User details -->
      <div class="c">
        <h3>User Details</h3>
        <div *ngFor="let user of questionWithAnswers" class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">User: {{ user.userName }}</h5>
            <div *ngIf="user.question">
              <h6 class="card-subtitle mb-2 text-muted">Question: {{ user.question.text }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Answers:</h6>
              <ul class="list-group">
                <li *ngFor="let answer of user.answers" class="list-group-item">{{ answer.answerText }}</li>
              </ul>
            </div>
            <div *ngIf="!user.question">
              <p>No question and answers available for this user.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  